[Desktop Entry]
Type=Application
Name=Start Services
Comment=Starts backend, printer, and frontend services.
Exec=/home/badamdar/Desktop/KAZZA/ubuntu-start-services/start_services_new.sh
Icon=utilities-terminal
Terminal=true
