[Desktop Entry]
Type=Application
Name=Sistemi başlat
Comment=Backend, printer və frontend xidmətlərini işə salır
Exec=/home/USERNAME/Desktop/KazzaNew/ubuntu-start-services/start_services.sh
Icon=/home/USERNAME/Desktop/KazzaNew/ubuntu-start-services/kazza-icon.svg
Terminal=false
